img {
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3));
}


iframe {
    position: absolute;
    clip-path: inset(0% 0% 0% 0% round 10px);
}

.LogoGrid {
    display: grid;
    grid-auto-rows: 32vw;
    /* background-color: gray; */
    margin-bottom: 2vw;
    justify-content: center;
}

nav {
    display: grid;
    grid-auto-rows: 4.5vw;
    margin-bottom: 2vw;
    position: sticky;
    top: 1vw;
    align-items: center;
    z-index:1;
}

ul {
    padding-right: 4vw;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    text-size-adjust: 2vw;
    background-color: #1E2887;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

li a:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

a {
    font-family: "Jersey 10", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FF9FF1;
    font-size: 4.25vw;
}

.TitleGrid {
    display: grid;
    grid-auto-rows: 4.5vw;
    /* background-color: gray; */
    margin-top: 4vw;
    margin-bottom: 1.2vw;
    align-items: center;
}

.HomePageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 39.25vw 16.25vw;
    /* background-color: gray; */
    margin-bottom: 2vw;
}

.HomePageVideo {
    display: grid;
    grid-column: 2/5;
    grid-row: 1;
    justify-content: center;
}

.LatestVideo {
    width: 67.2vw;
    height: 37.8vw;
}

.PFP {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
}

.Occupations {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}

.HomeVideoDescription {
    display: grid;
    grid-column: 3/5;
    grid-row: 2;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.VideoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25.5vw 25.5vw;
    /* background-color: gray; */
    margin-bottom: 2vw;
    /* align-items: center; */
}

.CenterVideo {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.SmallVideo {
    width: 41.6vw;
    height: 23.4vw;
}

.FooterGrid {
    display: grid;
    grid-auto-rows: 250px;
}
